@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@100&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px auto;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
}
header{
    width:100%;
    height: 100vh;
    background-image: url(../img/VectorSmartObject.jpg);
    background-size: cover;
    height: 700px;
}
.head{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
}
.head > a{
    margin-top: 50px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.btn{
    margin-top: 50px;
}
.btn > a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 3px;
}
.btn > a:hover{
    border: #fff solid;
    border-radius: 30px 30px;
    opacity: 1;
    padding: 5px;
}
.inform{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.inform > h1{
    font-size: 52px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.inform > p{
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.inform > a{
    text-decoration: none;
    color: #fff;
    background-color: #ff4e50;
    padding: 10px 15px;
    border-radius: 20px 20px;

}

.wrapper{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.conteiner{
    display: flex;
    width: 100%;
}
.cont{
    display: flex;
    width: 100%;
}
.Layer{
    width: 300px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.Layer > p{
    font-size: 24px;
    color: #fff;
    text-align: left;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.Layer > a{
    text-decoration: none;
    
}
.Layer > a >h2{
    width: 70px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    background-color: #ff4e50;
    padding: 10px 10px;
    border-radius: 20px 20px;
    margin-left: 2%;
    text-decoration: none;
    
}
.Layer > h3{
    width: 96%;
    font-size: 14px;
    text-align: left;
    color: #fff;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
}

.Layer_2{
    width: 205px;
    height: 270px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Layer_2 > img{
    width: 130px;
    height: 130px;
    align-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}
.Layer_2 > h3{
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
  
.Layer_2 > p{
    font-size: 14px solid;
    color: #000;
    text-align: center;
    margin: 0%;

}
.wrapper > a{
    font-size: 14px;
    color: #000;
    text-decoration: none;
    padding: 3px;
}
.wrapper > a:hover{
    border: #ff4e50 solid;
    color: #ff4e50;
    border-radius: 30px 30px;
    padding: 5px;
}
.wrapper_3{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.maz1{
    width: 90%;
    display: flex;
    margin: 3px;
}
.maz1 > .maz1_1{
    width: 300px;
    border-radius: 5px;
    height: 310px;
    margin: 5px;
    background-image: url(../img/maz1_1.png);
}
.maz1 > .maz1_2{
    width: 300px;
    height: 310px;
    margin: 5px;
    background-image: url(../img/maz1_2.png);
    border-radius: 5px;
}
.maz1 > .maz1_3{
    width: 300px;
    height: 310px;
    margin: 5px;
    background-image: url(../img/maz1_3.png);
    border-radius: 5px;
}
.maz2{
    width: 90%;
    display: flex;
    margin: 3px;
}
.maz2 > .maz2_1{
    width: 300px;
    height: 310px;
    margin: 5px;
    background-image: url(../img/maz2_1.png);
    border-radius: 5px;
}
.maz2 > .maz2_2{
    width: 620px;
    height: 310px;
    margin: 5px;
    background-image: url(../img/maz2_2.png);
    border-radius: 5px;
}
.maz3{
    width: 90%;
    display: flex;
    margin: 3px;
}
.maz3 > .maz3_1{
    width: 620px;
    height: 310px;
    margin: 5px;
    background-image: url(../img/maz3_1.png);
    border-radius: 5px;
}
.maz3 > .maz3_2{
    width: 300px;
    height: 310px;
    margin: 5px;
    background-image: url(../img/maz3_2.png);
    border-radius: 5px;
}